/* Styles for the Level page */
.level-container {
  text-align: center;
  background-image: url('/assets/backgro1.jpeg'); /* Background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  color: rgb(44, 48, 24) !important;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Styles for the centered image */
.centered-image {
  width: 200px;   /* Adjust the size as needed */
  height: auto;   /* Keep the aspect ratio intact */
  margin-bottom: 30px; /* Space below the image */
}

/* Container for buttons */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Level Button Styles */
.level-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  width: 200px;
}

.level-button:hover {
  transform: scale(1.1);
}

/* Specific colors for different difficulty levels */
.easy {
  background-color: #4CAF50 ;
}

.easy:hover {
  background-color: #45a049 ;
}

.normal {
  background-color: #ff9800 ;
}

.normal:hover {
  background-color: #fb8c00;
}

.hard {
  background-color: #f44336;
}

.hard:hover {
  background-color: #d32f2f;
}

/* Sign Out button */
.sign-out-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ef2424;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  width: 200px;
}

.sign-out-button:hover {
  transform: scale(1.1);
  background-color: #f96807;
}
